<div class="row">
	<div class="col-sm-8">
		<h1>
			<%= t(:albums) %>
			<%= link_to new_album_path, class: "btn btn-link" do %>
				<%= (:new) %>
				<%= content_tag :i, "", class: "fa fa-plus" %>
			<% end %>
		</h1>
	</div>
</div>
<div class="row">
	<% @albums.each do |album| %>
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title"><%= album.name %></h5>
		    <h6 class="card-subtitle mb-2 text-muted"><%= album.artist_name %></h6>
		    <ul>
		    	<li><%= album.twitter %></li>
		    	<li><%= album.year %></li>
		    </ul>
		    <%= link_to t(:update), edit_album_path(album.id), class: "card-link" %>
		    <%= link_to t(:delete), album_path(album.id), class: "card-link", data: {:confirm => 'Are you sure?'}, :method => :delete  %>

		  </div>
		</div>
	<% end %>
	<%= paginate @albums %>
</div>